*{ 
    margin: 0; 
    padding: 0;
    
}

.cabecalho {
    background-color: #8F25E2;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 20px 0;
    border: 5px solid
}

.avatar{
    width: 4%;
}

.logo{
    width: 8%;

}

.cabecalho-lista-item-cabelos{
    text-shadow: 3px 3px 7px black;
    display: inline-block;
    margin: 0 12px;
    font-size: 50px;
    position: absolute;
    top: 30px;
    right: 500px;
}

.cabecalho-lista-item-localizacao{
    text-shadow: 3px 3px 7px black;
    display: inline-block;
    margin: 0 12px;
    font-size: 50px;
    position: absolute;
    top: 30px;
    right: 200px;

}

.jk-imagem{
    width: 20%;
}

.jk{
    background-image: linear-gradient(#8F25E2, #F138BD );
    display: flex   ;
    justify-content:space-around;
    align-items: center;
    padding: 10%;
    font-size: 130%;
    font-family:  'Imprima', sans-serif ;
    border: 7px solid;
    
  
    
}

.jk-div{
    width: 40%;
    font-size: 140%;

}

.jk-titulo{
    padding: 40px 0;
}

.foto-juju{
    
    width: 11%;
    border-right: 3px solid;
    border-bottom: 2px solid;
    box-shadow: 7px 7px 10px black;
}

.fundador-icone{
    width: 24px;
}

.fundador-div{
    text-align: center;
   
}

.foto-kevilin{
    width: 13%;
    border-right: 8px solid;
    border-bottom: 100px solid;
    box-shadow: 7px 7px 10px black;
}

.fundadores{
    text-align: center;
    padding: 50px 0;
    border: 5px solid;
    border-bottom:none; 
    font-size: 48px;
    background-color: #F138BD;
}

.fundadores-todos{
    background-image: linear-gradient(#F138BD, #8F25E2);
    border:  5px solid;
    border-top: none;
    display: grid;
    grid-template-columns: 50% 50% 
    
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-logo{
    height: 60px;
    padding: 12px 0;
}